# pip install -U pip pip-tools wheel
# pip-compile requirements.in

ipython

# Change name of running Python process/thread for prettier top/htop display
python-prctl

# Some common misc functions like is_blank, Stopwatch, etc...
seveno_pyutil

# Generic proxy classes
objproxies

# YAML reader/writer
pyyaml
# Fast JSON implementation that is compatible with Python’s json module. It is
# preferred for JSON operations if it is installed.
# Use it like this: import simplejson as json
simplejson

# commandline interface
click
click-help-colors

# Time and timezones stuff
pytz
python-dateutil
tzlocal

# Redis and native Redis driver
# redis > 3.0.0
# hiredis
